body {
}

.FindPwd_Main
{
    margin-left:auto;margin-right:auto;
    margin-top:50px;
    width:350px;
    font-size:16px;
    padding-right:200px;
    font-family:courier;
    background-color:#FFE8FA;
    border:1px solid #F19C57;
    padding-left:40px;
    border-top:none;
    }
.FindPwd_head
{
    background:#F19C57;
    width:570px;
    height:25px;
    position:relative;
    left:-40px;
    font-size:20px;
    padding:10px;
    color:blue;
    }
.FindPwd_Main table
{
    margin-top:20px;
    }
.FP_tbody tr th
{
    text-align:right;
    padding-right:5px;
    *font-weight:normal;
    }
 .FP_tbody tr td input
 {
     height:30px;
     padding:5px\9;
     height:22px\9;
     }
 .FP_tbody .confirmSend
 {
     background:url("../image/findpassword.png") ;
     display:block;
     height:40px;
     width:108px;
     margin-left:90px;
     }
 .FP_tbody .confirmSend:hover
 {
     background:url("../image/findpassword2.png");
 }   
 .emailPrompt
 {
      color:Blue;
      position:relative;
      left:330px;
      top:-30px;
      display:none;
     }
